body {
  padding: 20px;
  padding-bottom: 100px;
  background-color: #DDDDED;
  font-size: large;
}
p, h1, h2, h3, div, span, ol, li {
  font-family: sans-serif;
}
h1 {
  counter-reset: paragraphNumber;
}

.code {
  border: 1px solid #999999;
  white-space: pre;
  font-family: monospace;
  background-color: white;
  min-width: 200px;
  width: 600px;
  display: block;
  margin: 10px;
  padding: 15px;
  overflow: visible;
}
p:before {
  counter-increment: paragraphNumber;
  content: counter(paragraphNumber) ". ";
}
img {
  padding: 3px;
  margin: 8px;
  border: 1px solid #CCCCCC;
}
.note {
  background-color: #FFFFCC;
  border: 1px solid #FFFF00;
  width:70%;
  margin: 20px;
  padding: 10px;
  font-size: medium;
}
.hint {
  border: 1px solid gray;
  background-color: silver;
  color: silver;
  margin: 10px;
  padding: 20px;
  width: 400px;
}
